
@font-face {
    font-family: 'Oswald';
    src: url(Fonts/Oswald/Oswald-VariableFont_wght.ttf);
}



html, body{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(187 247 208);
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}

.container {
    width: 80%;
    height: 80%;
    background-color: azure;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-header {
    width: 80%;
    height: 5%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.button-header button {
    width: 200px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-bottom: 40px;
    padding-top: 5px;
    line-height: 1; /* Reduces vertical spacing if needed */

}

button:active {
    background-color: #bfbfbf;
    transform: scale(0.98); /* Slightly scales down the button to create a pressed effect */
}

.form-popup {
    background-color: rgb(254 249 195);
    height: 70%;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    border-radius: 10px;
    display: none;
    position: fixed;
   
}
.form-popup button {
    width: 200px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    line-height: 1; /* Reduces vertical spacing if needed */
}

.form-popup form {
    gap: 100px;
    
}

.form-popup label {
    margin-left: 20px;
    
}

.form-popup input {
    margin-left: 50px ;
    gap: 120px;
    height: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    border-radius: 20px;
    border: solid black 1px;;
}

.button-container {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#read {
    width: 200px;
    height: 50px;
    margin-left: -30px;
    margin-top: 60px;
    margin-bottom: 20px;
}

#author {
    margin-left: 10px;
}

#pages {
    margin-left: 20px;
}

#title {
    margin-left: 20px;
}

.all-books-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.all-books {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding-left: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 50px ;

    
}